@import "../../variables.scss";


.toolbar {
    padding: 0 1em;
    margin: 2em 0;
}

.editorContainer {
    // background-color: $card-background;
    border-radius: 20px;
    padding: 1em;

    .titleField {
        margin: 1em auto;
        max-width: $editor-width;
    }

    .paragraphField {
        display: flex;
        margin: 1em auto;
        max-width: $editor-width;
        textarea {
            
            background-color: white;
            width: 100%;
            min-height: 100%;
            overflow-y: hidden;
            min-height: 5em;
            padding: 0.5em;
            border: 0;
            resize: none;
        }

        .deleteButton {
            width: 100%;
            font-size: large;
        }

    }

    .addButton {
        width: 100%;
        font-size: large;
    }
}